@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.hero-section {
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}
.logo {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
}
span.inv {
    background: #fff;
    padding: 0px 15px;
    margin-left: 5px;
    border-radius: 10px;
    font-weight: 500;
    color: #2394b1;
}
.title-text {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 0px;
}
.hero-section p {
    font-size: 17px;
    color: #fff;
}
.form-section {
    display: flex;
    flex-direction: column;
    width: 86%;
    margin: 0 auto;
    padding: 30px;
}
.form-title {
    font-size: 20px;
    font-weight: 500;
    color: #444;
    margin-bottom: 20px;
}
.form-set-one {
    display: flex;
    flex-wrap: wrap;
}
.form-input input {
    width: 100%;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
    box-sizing: border-box;
    height: 50px;
}
.form-container {
    display: flex;
}
.left-section {
    flex-grow: 6;
}
.form-set-one .form-input {
    width: 32%;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 12px;
    color: #757575;
}
button.download-btn {
    outline: 0;
    border-radius: 5px;
    border: 0;
    color: #fff;
    background: #2798b5;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
button.download-btn:active {
    background: #188dac;
}
.text-center {
    text-align: center;
}
.footer {
    padding: 20px;
    background: #e5e5e5;
    font-size: 11px;
    color: #515151;
}
.invoice-header {
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    display: flex;
    padding: 5px 30px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}
.small-logo {
    font-weight: 700;
    color: #fff;
    font-size: 20px;
}
span.small-inv {
    background: #fff;
    padding: 0px 8px;
    margin-left: 5px;
    border-radius: 10px;
    font-weight: 500;
    color: #2394b1;
}
.invoice-logo {
    flex-grow: 5;
}
span.back-home {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 15px;
    cursor: pointer;
}
button.download {
    background: #fff;
    border: 0;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 600;
    color: #0f7089;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
}
.upper-inv {
    padding: 50px 0px;
}
.invoice-wrapper {
    display: none;
}
.error {
    font-size: 13px;
    background: #f14848;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    width: calc(93% + 30px);
    display: none;
}
button.download:active {
    background: #f8f8f8;
}

@media (max-width:768px) {
    .title-text {
        font-size: 30px;
    }
    .form-set-one .form-input {
        width: 100%;
        margin-right: 0px;
    }
    .error {
        width: auto !important;
    }
}